<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.oulu.tol.esde_2016_013.ohapclient13">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_container_activity"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ContainerActivity"
            android:label="@string/title_container_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceActivity"
            android:label="@string/title_device_activity"
            android:parentActivityName=".ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.oulu.tol.esde_2016_013.ohapclient13.ContainerActivity" />
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_preference_activity"
            android:parentActivityName=".ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.oulu.tol.esde_2016_013.ohapclient13.ContainerActivity" />
        </activity>
        <activity
            android:name=".HelperActivity"
            android:label="@string/title_activity_helper"
            android:parentActivityName=".ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.oulu.tol.esde_2016_013.ohapclient13.ContainerActivity" />
        </activity>
    </application>

</manifest>
